*{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    background-color: #fff;
}
header{
    background-color: black;
    height: 6rem;
    display: flex;
}

.nav-link{
    color: #fff;
}

.card-img, .card-img-bottom, .card-img-top{
    width: 50%;
}
.navbar-brand{
    color: #fff;
    margin-left: 2rem;
}

.collapse, .navbar-collapse{
    justify-content: space-between;
    margin-right: 2rem;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-top: 15%;
    
    }
    
.div1 { 
    grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    justify-content: center;
}

.div2 { 
    grid-area: 1 / 2 / 2 / 3; 
    display: flex;
    justify-content: center;
}
.div3 { 
    grid-area: 1 / 3 / 2 / 4; 
    display: flex;
    justify-content: center;
}

.precioProducto{
    font-weight: 700;
}

.boton-agregar{
    font-weight: 700;
    color: #000;
    font-size: 18px;
    padding: 5px;
    border: none;
}

.boton-agregar:hover{
    cursor: pointer;
}

.boton-agregar:focus{
    outline: none;
}

